.navbar {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    font-size: x-large;
}
.navbar-buttons {
    display: flex;
    width: 30%;
    justify-content:space-around;
}
.navbar-button {
    color: inherit;
    text-decoration: inherit;
}